extends layout

//setting the side bar
block active
  ul.nav.nav-sidebar
    li.active
      a(href='index')
        | About
        span.sr-only (current)
    li
      a(href='instructions') Submission Instructions
    li
      a(href='upload') Upload
    li
      a(href='schedule') Schedule a Scan
    li
      a(href='view') View Print Status

//setting the content
block content
  h1.page-header
    center Welcome to the Cloud 3D Print System!
  p
    center
      h4 Add information about the system.
